FIREBASE_API_KEY=sua_api_key_aqui
FIREBASE_AUTH_DOMAIN=barcl-6e65e.firebaseapp.com
FIREBASE_PROJECT_ID=barcl-6e65e
FIREBASE_STORAGE_BUCKET=barcl-6e65e.appspot.com
FIREBASE_MESSAGING_SENDER_ID=seu_sender_id_aqui
FIREBASE_APP_ID=seu_app_id_aqui
